<h2 class="text-center">Create New Project</h2>
<form action="#" method="POST">
	<div class="form-group">
		<label for="project_name">Name</label>
		<input name="project_name" type="text" class="form-control" id="project_name" aria-describedby="project_name" required />
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Create</button>
</form>