<div class="card card-body">
	<h2>Bugs Menu</h2>
	<div class="btn-group-vertical">
		<a class="btn btn-dark" href="/createproject/{{user}}">Create Project</a>
		<a class="btn btn-dark" href="/projectlist/{{user}}">Project List</a>
	</div>
</div>