<div class="card card-body">
	<h2>Bugs Menu</h2>
	<div class="btn-group-vertical">
		<a class="btn btn-dark" href="/createproject/{{user}}">Create Project</a>
		<a class="btn btn-dark" href="/adduser/{{user}}">Add User</a>
		<a class="btn btn-dark" href="/setadmin/{{user}}">Set User As Admin</a>
	</div>
</div>