<div class="card" style="width: 100%;">
	<div class="card-body">
		<img src="/images/logo.png" class="img-thumbnail rounded float-left" alt="logo">
		<h2 class="card-title text-center">DTS</h2>
		<p class="card-text text-center">By Joseph Sepulveda</p>
	</div>
</div>