<div class="card card-body">
	<h2>Bugs Menu</h2>
	<div class="btn-group-vertical">
		<a class="btn btn-dark" href="/createbug/{{user}}">Create Bug</a>
		<a class="btn btn-dark" href="/search/{{user}}">Search For Bugs</a>
	</div>
</div>