<h2 class="text-center">Serch For A Bug</h2>
<form action="/{{user}}/searchbugs" method="POST">
	<div class="form-group">
		<label for="project">Project</label>
		<select name="project" id="project" class="custom-select" required>
			<option value="" disabled selected>Select Project</option>
			{{#each projects}}
			<option value={{id}}>{{name}}</option>
			{{else}}
			{{/each}}
		</select>
	</div>
	<div class="form-group">
		<label for="bug_name">Name</label>
		<input name="bug_name" type="text" class="form-control" id="bug_name" aria-describedby="bug_name" />
	</div>
	<div class="form-group">
		<label for="bug_type">Type</label>
		<select name="bug_type" id="bug_type" class="custom-select">
			<option value="" selected>Select Type</option>
			<option value="function">Function</option>
			<option value="assignment">Assignment</option>
			<option value="checking">Checking</option>
			<option value="timing">Timing</option>
			<option value="build">Build</option>
			<option value="algorithm">Algorithm</option>
			<option value="documentation">Documentation</option>
			<option value="interface">Interface</option>
			<option value="none">None</option>
			<option value="unsure">Unsure</option>
		</select>
	</div>
	<div class="form-group">
		<label for="bug_severity">Severity</label>
		<select name="bug_severity" id="bug_severity" class="custom-select">
			<option value="" selected>Select Severity</option>
			<option value="major">Major</option>
			<option value="minor">Minor</option>
			<option value="nth">NTH</option>
		</select>
	</div>
	<div class="form-group">
		<label for="bug_status">Status</label>
		<select name="bug_status" id="bug_status" class="custom-select">
			<option value="" selected>Select Status</option>
			<option value="open">Open</option>
			<option value="closed">Closed</option>
			<option value="inprogress">In Progress</option>
			<option value="duplicate">Duplicate</option>
			<option value="worksasintended">Works As Intended</option>
		</select>
	</div>
	<div class="card card-bg p-4">
		<label>Environment</label>
		<div class="form-group">
			<label for="os">OS</label>
			<select name="os" type="text" id="os" class="custom-select">
				<option value="" selected>Select OS</option>
				<option value="windows">Windows</option>
				<option value="mac">Mac OS</option>
				<option value="linux">Linux</option>
				<option value="ios">iOS</option>
				<option value="android">Android</option>
				<option value="other">Other</option>
			</select>
		</div>
		<div class="form-group">
			<label for="platform">Platform</label>
			<select name="platform" type="text" id="platform" class="custom-select">
				<option value="" selected>Select Platform</option>
				<option value="desktop">Desktop</option>
				<option value="mobile">Mobile</option>
				<option value="console">Console</option>
				<option value="other">Other</option>
			</select>
		</div>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Search</button>
</form>